/* - Mobile: 375px , - Desktop: 1440px */

html,body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
img{
    max-width: 100%;
}
h1,h2,p,div{
    margin:0;
}

/* -------------CUSTOM PROPERTIES ----------------- */
:root{
    /* ------------FONT COLORS--------- */
    --clr-veryDarkMagenta: hsl(300, 43%, 22%);
    --clr-softPink: hsl(333, 80%, 67%);
    --clr-darkGrayishMagenta: hsl(303, 10%, 53%);
    --clr-lightGrayishMagenta: hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);

    /* --------FONT WEIGHT------------  */
    --fw-400:400;
    --fw-500:500;
    --fw-700:700;

    /* ------------FONT FAMILY -------------- */
    --ff-leagueSpartan: 'League Spartan',sans-serif;

    /* -----------FONT SIZE ------------ */
    --fs-15:0.94rem;
    --fs-39:2.44rem;
    --fs-38:2.38rem;
    --fs-17:1.06rem;
    --fs-16:1rem;
    --fs-13:0.81rem;
    --fs-53:3.31rem;

}

/* -------------BODY---------------- */
body{
    font-weight: var(--fw-500);
    font-size: var(--fs-15);
    font-family: var(--ff-leagueSpartan);
    line-height: 1.6;
    /* ----- Mobile Background --- */
    background: url('image/bg-pattern-top-mobile.svg') left top no-repeat,
                url('image/bg-pattern-bottom-mobile.svg') left bottom no-repeat;        
}

/* ------------COMPONENTS------------ */

/* ----- Main Container --- */
.main{
    width:87%;
    margin: 0 auto;
}
/* ----- Container --- */
.container{
    padding-top:5.19rem;
}
/* ----- Title Headline --- */
.title-headline{
    font-size:var(--fs-38);
    line-height: 0.8;
    font-weight: var(--fw-700);
    color:var(--clr-veryDarkMagenta);
    text-align: center;
} 
/* ----- Title Description --- */
.title-description{
    color:var(--clr-darkGrayishMagenta);
    font-size:1.1rem;
    text-align: center;
    font-weight:500;
    line-height:1.5;
    width:100%;
    margin-top:1.56rem;
}
/* ----- Review Box --- */
.review-box{
    width:100%;
    background-color: var(--clr-lightGrayishMagenta);
    margin-top:2.19rem;
    text-align: center;  
    padding:0.63rem 0px;
    border-radius:0.63rem;
    margin-bottom:-0.94rem;
}
/* ----- Star Container --- */
.star-container{
    margin-top:0.31rem;
}
/* ----- Star Icon --- */
.star-icon {
    margin-right: 0.31rem;
}
.star-icon:last-child {
    margin-right: 0px;
}
/* ----- Rate Description --- */
.rate-description{
    color:var(--clr-veryDarkMagenta);
    font-weight: var(--fw-700);
    font-size:var(--fs-16);
    margin-right:0px;
}
/* ----- User Reviews Mobile Container --- */
.user-reviews{
    margin-top:4.06rem;
}
/* ----- User Comments --- */
.user-comments{
    width:100%;
    background-color: var(--clr-veryDarkMagenta);
    color:var(--clr-white);
    border-radius:0.63rem;
    padding:2.5rem 0px 0.94rem 0px;
    text-align: center;
    margin-bottom:0.94rem;
}
/* ----- User Image --- */
.user-img{
    border-radius: 50%;
    width:50%;
}
/* ----- User Profile --- */
.user-profile{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left:0.94rem;
}
/* ----- Profile Name --- */
.profile-name{
    font-size:var(--fs-16);
}
.profile-check{
    color:var(--clr-softPink);
    margin-top:-0.31rem;
}
/* ----- User Review --- */
.user-review{
    padding:0.63rem 1.88rem;
    font-size:var(--fs-17);
    text-align: left;
    line-height:1.4;
    margin-top:0.31rem;
}
/* ----- Footer --- */
footer{
    width:87%;
    margin: 0 auto;
}

.attribution{
    font-size:var(--fs-13);
}
.attribution a{
    text-decoration: none;
    color:var(--clr-softPink);
    font-weight: var(--fw-700);
}

/* -------------------- Media Screen's minimum width: 700px */
@media (min-width:700px){
    body{
        /* ---- Desktop Background --- */
        background: url('image/bg-pattern-top-desktop.svg') left top no-repeat,
                    url('image/bg-pattern-bottom-desktop.svg') right bottom no-repeat;    
    }
    /* ------------COMPONENTS------------ */
    /* ----- Main Container --- */
    .main{
    width:73%;
    margin: 0 auto;
    }
    /* ----- Container --- */
    .container{
    padding-top:7.19rem;
    }
    /* ----- Desktop Container --- */
    .desktop-container    {
        display:flex;     
    }
    /* ----- Title Container --- */
    .title-container{
        width:50%;  
    }
    /* ----- Review Container --- */
    .review-container{
        width:50%;
    }
    /* ----- Title Headline --- */
    .title-headline{
        font-size:var(--fs-53);        
        line-height:0.9;      
        text-align: left;  
        width:80%;     
    }  
    /* ----- Title Description --- */   
    .title-description{
        text-align: left;
        width:80%;
    }
    /* ----- Review Box --- */
    .review-box{
        width:80%;
        margin-top:1.69rem;
        padding:0.81rem 0px;
        display:flex;
        justify-content: center;
    }
    /* ----- Star Container --- */
    .star-container{
        margin-top:0.31rem;
        margin-right:8%;
        margin-left:4%;
    }
    .guru-star{
        margin-right:2%;
        margin-left:6%;
    }
    .guru-description{
        margin-right:0%;
        margin-left:4%;
    }
    .rate-description{
        font-size:var(--fs-17);
        margin-right:12%;
    }
    .rate-reviews{
       margin-left:2%;
    }
    .rate-report{
        margin-left:11%;
        margin-top:1.88rem;
    }
    .rate-bestTech{
        margin-left:19%;
        margin-top:2.06rem;
    }
    /* ----- User Desktop Reviews --- */
    .user-reviews{
        margin-top:4.38rem;
    }
    .user-desktop-review{
        display:grid;
        grid-template-columns: repeat(3, 30%);
        grid-gap:2.88rem;
    }
    .user-comments{
        width:100%;
        padding:2.5rem 0.56rem 1.25rem 0.56rem;
        text-align: center;
        margin-bottom:2.19rem;
    }
    .user-review{
        padding:0.63rem 1.63rem;
        font-size:var(--fs-16);
    }
    .colton-review{
        height:58%;
    }
    .irene-review{      
        margin-top:1.06rem;  
        padding-bottom:1.88rem;
    }
    .anne-review{   
        margin-top:1.88rem; 
        padding-bottom:1.88rem;
    }
    /* --- Footer ------- */
    footer{
        text-align: center;
    }
}

/* -------------------- Media Screen's minimum width: 600px  and maximum width :1011px*/
@media (min-width:700px) and (max-width:1011px){
    .colton-review{
        height:70%;
    }
}